*.*.rvt
*.*.rte
*.*.rfa
*.ifc.log
*.bak
*.ifc.log.html
Ryan_Random_Tests/
Videos and Photos (added to gitignore)/
*.backup


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.log

# FreeCAD and Blender backup files
*.FcStd1
*.FcStd2
*.fcstd1
*.fcstd2
*.blend1
*.blend2

#Excel temporary files
~$*.xlsx

#AutoCAD temporary files
*.dwl*
/Transfer/20181009 - to owner - meeting with city/Cannery.rvt
/Transfer/20190421 - to city - animation/Enscape_2019-04-21-22-15-09.mp4
/Transfer/20190412 - to structural engineer - model/20190412 - CTR.zip
/_closed/Models & CAD/BIM/Archive/20190324/1750 Ox - 1st Phase - Common Walls.rvt
/_closed/Models & CAD/BIM/Archive/20190324/1750 Ox - 1st Phase - Shell.rvt
/Transfer/20190228 - video animination/20190228 - Cannery.mp4
/Existing Conditions & Code Research/Existing Conditions/09002 - 1720 N Oxford/Photos and Videos/2018-11-13 15.55.43.mp4
/_closed/Models & CAD/BIM/Patterns/OD_Revit_Template.rte
/_closed/Models & CAD/BIM/CTR - 1st Phase - Shell - For Overlay In Details (to be discarded).rvt
/_closed/Models & CAD/BIM/CTR - 1st Phase - Shell.ifc
/_closed/Transfer/20190821 - PERMIT/3264769_Plan Set_ARCH_STRUCT_HVAC_ELECT.zip
/Models & CAD/CTR - 1st Phase - Shell.ifc
/Models & CAD/Archive/20190324/1750 Ox - 1st Phase - Shell.rvt
/Models & CAD/Archive/20190324/1750 Ox - 1st Phase - Common Walls.rvt
/Transfer/20191031 - to owner - unit renderings/imgs/2.mp4
/Transfer/20191031 - to owner - unit renderings/video/Enscape_2019-10-31-01-02-42.mp4
/_closed/Most Current Set/Full size sheets/_Binder.pdf
/_closed/Most Current Set/Full size sheets/_CTR_Binder.pdf
/_closed/Transfer/20190821 - PERMIT/3264769_Plan Set_ARCH_STRUCT_HVAC_ELECT.zip
/_closed/Most Current Set/Full size sheets/_CTR_Binder.pdf
/Transfer/20200213 - to owner - renderings and animation/Enscape_2020-02-12-21-28-48.mp4
/Models & CAD/temp.rvt
/_closed/Transfer/20200309 - to owner - current plan set/Full size sheets/_CTR_Binder.pdf
/Models & CAD/CTR.ifc
/_closed/Transfer/20191107 - to GC for city permit - drawings send to state/Large size sheets/_Binder.pdf
/_closed/Most Current Set/Full size sheets/Archive/before 20200327.pdf
/_closed/Transfer/20191107 - to GC for city permit - drawings send to state/Large size sheets/20191107 - to GC for city permit - drawings send to state.pdf
/Models & CAD/IFC - CTR/CTR - ALL.ifc
/_closed/Most Current Set/Full size sheets/Archive/before 20200409 - stairs - additional dimensions.pdf
/Transfer/20200425 - to owner - videos and renderings/Enscape_2020-04-25-19-58-54.mp4
/Transfer/20200422 - to owner - animation test/Enscape_2020-04-22-08-35-08.mp4
/_closed/Most Current Set/Full size sheets/Archive/before 20200514 - Permit Revisions 4.pdf
/Transfer/20200507 - to owner - revised renderings/Enscape_2020-05-07-14-43-27.mp4
/Transfer/20200506_1900 - to owner - revised renderings with WMC colors/Enscape_2020-05-06-17-55-38.mp4
/Transfer/20200511 - to owner - revised renderings/Enscape_2020-05-11-12-28-14.mp4
/Transfer/20200506 - to owner - WMC colors/Animation.mp4
/Most Current Set/Full size sheets/Archive/before 20200514 - Permit Revisions 4.pdf
/Most Current Set/Full size sheets/Archive/before 20200409 - stairs - additional dimensions.pdf
/Most Current Set/Full size sheets/Archive/before 20200327.pdf

/Transfer/20200618 - to State - PERMIT REVISIONS 5/3311643 - ARCH Drawings.zip
/Most Current Set/Full size sheets/Archive/before 20200618 - Permit Revision 5.pdf
/Transfer/20200702 - to owner and GC - suggested exterior lighting locations/Enscape_2020-07-02-15-25-18.mp4
/Transfer/20200715 - to State - PERMIT REVISIONS 6/3311643 - V6 - ARCH Drawings.zip
/Most Current Set/Full size sheets/Archive/before 20200730 - Permit Revision #8.pdf
/Transfer/20200618 - to State - PERMIT REVISIONS 5/_Binder_ARCH only - Permit Revision 5.pdf
/Most Current Set/Full size sheets/_CTR_Binder_full.pdf
/Most Current Set/Full size sheets/_CTR_Binder.pdf
/CA/Site Reports and Photos/20201221/2020-12-21 14.25.16.mp4
/CA/Site Reports and Photos/20201221/2020-12-21 14.34.19.mp4
